<div class="container text-center">
    <h1>Vendor List</h1>

    <ul>
        {{!-- <li>Vendor <button class="btn btn-primary">Open/Close</button></li>
        <li>Vendor <button class="btn btn-primary">Open/Close</button></li>
        <li>Vendor <button class="btn btn-primary">Open/Close</button></li>
        <li>Vendor <button class="btn btn-primary">Open/Close</button></li> --}}
        {{#each model.vendors as |vendor|}}
            <li>{{vendor.name}} [{{vendor.status}}]</li>
        {{/each}}
    </ul>


    {{#link-to "login" class="btn btn-primary"}}Back{{/link-to}}
</div>
