<div class="container text-center">
    <h1>Vendor List</h1>

    {{#each model.vendors as |vendor|}}
        <div class="row mb-3">
            <div class="col">{{vendor.name}}</div>
            <div class="col">
                {{#link-to "non-vendor.vendor.show" vendor.id class="btn btn-primary"}}
                    {{vendor.status}}
                {{/link-to}}
            </div>
        </div>
    {{/each}}

    <div class="text-right">
        {{#link-to "login" class="btn btn-primary"}}Back{{/link-to}}
    </div>
</div>
