<div class="container text-center">
    <div>
        <h1>FreshFood</h1>
        <h2>Login As:</h2>
    </div>
    <div>
        {{#link-to "vendor.index" class="btn btn-primary"}}Vendor{{/link-to}}
        {{#link-to "non-vendor.index" class="btn btn-info"}}Non-Vendor{{/link-to}}
    </div>
</div>